<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <title>Online Shoe Store</title>
                <meta name="viewport" content="width=device-width,inital-scale=1">
                <link href ="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">

        </head>
        <body>
                <!-- Nav Bar -->
                <div class="navbar navbar-dark bg-dark navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand mb-0 h1" href="/ ">Shoe Store</a>
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                        <a class="nav-link" href="/shoes">Shoes</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" href="/socks">Socks</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" href="/accessories">Accessories</a>
                                </li>
                        </ul>
                        {% if current_user.is_authenticated %}
                        <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                        <button type="submit" class="btn btn-danger btn-lg">Logout</button>  
                        </form>
                        {% else %}
                                <form class="form-inline my-2 my-lg-0" action="/login">
                                <button type="submit" class="btn btn-success btn-lg">Login</button>  
                                </form>
                        {% endif %}       
                </div>
                

                <!--Main Content-->


                <div class="container">         
                        <h1>Login</h1>
                
                
<form action="/login" method="post">
  
        
<div class="form-group" >
    <label for="exampleInputEmail1">Email address</label>
    <input type="text"  name="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  
  
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
                
                
                
                
                
                
                
                </div>












<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src ="{{url_for('static',filename='js/bootstrap.js')}}"></script>
        </body>
</html>

