<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <title>Online Shoe Store</title>
                <meta name="viewport" content="width=device-width,inital-scale=1">
                <link href ="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">

        </head>
        <body>
                <!-- Nav Bar -->
                <div class="navbar navbar-dark bg-dark navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand mb-0 h1" href="/ ">Shoe Store</a>
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                        <a class="nav-link" href="/shoes">Shoes</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" href="/socks">Socks</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" href="/accessories">Accessories</a>
                                </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action="/profile">
                       <button type="submit" class="btn btn-info btn-lg">Profile</button>  
                        </form>

                        {% if current_user.is_authenticated %}
                        <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
                        <button type="submit" class="btn btn-danger btn-lg">Logout</button>  
                        </form>
                        {% else %}
                                <form class="form-inline my-2 my-lg-0" action="/login">
                                <button type="submit" class="btn btn-success btn-lg">Login</button>  
                                </form>
                        {% endif %}       
                </div>
                

                <!--Main Content-->

<div class="jumbotron">
        <h1 class="display-4">{{ user.LNAME }}, {{ user.FNAME }} {{ user.MNAME }}</h1>
        <p class="lead">{{ user.EMAIL }}</p>
  <hr class="my-4">
  <p> {{ user.ADDRESS }} </p>
</div>


                
                <div class="container">         
                        <center><h1>Cart</h1></center>
                        <div class="container">
                        <table class="table  table-dark">
                                 <thead>
                                    <tr> 
                                      <th scope="col">Name</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Type</th>
                                      <th scope="col">Brand</th>
                                      <th scope="col">Description</th>
                                        <th scope="col"># in cart</th>
                                    </tr>
                                </thead> 
                                <tbody>
                                {% for item in shoe_cart %}

                                <tr>
                                        <th scope="row">{{ item.SHOE_NAME }}</th>
                                        <td>${{item.PRICE }}</td>
                                        <td>{{item.SHOE_TYPE}}</td>
                                        <td>{{item.BRAND }}</td> 
                                        <td>{{item.SHOE_DESC }}</td> 
                                        <td>{{item.NUM_ITEM }}</td>
                                        <form action="/profile" method="post">
                                                <input type ="hidden" name="item_id" value="{{ item.ITEM_ID }}">
                                                <input type ="hidden" name="cust_id" value="{{ item.CUST_ID }}">
                                        <td><button type="submit" class="btn btn-danger">Remove</button></td>
                                        </form>
                                </tr>
                                {% endfor %}
                                </tbody>
                        </div>
                      
                        <table class="table table-dark">
                                 <thead>
                                    <tr> 
                                      <th scope="col">Name</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Brand</th>
                                      <th scope="col">Description</th>
                                      <th scope="col"># in cart</th>
                                    </tr>
                                </thead> 
                                <tbody>
                                        
                                {% for item in sock_cart %}

                                <tr>
                                <th scope="row">{{ item.SOCK_NAME }}</th>
                                        <td>${{item.PRICE }}</td> 
                                        <td>{{item.BRAND }}</td> 
                                        <td>{{item.SOCK_DESC }}</td> 
                                        <td>{{item.NUM_ITEM }}</td>
                                        <form action="/profile" method="post">
                                                <input type ="hidden" name="item_id" value="{{ item.ITEM_ID }}">
                                                <input type ="hidden" name="cust_id" value="{{ item.CUST_ID }}">
                                        <td><button type="submit" class="btn btn-danger">Remove</button></td>
                                        </form>
                                </tr>
                                {% endfor %}
                                </tbody>
                     

                    
                        <table class="table  table-dark">
                                 <thead>
                                    <tr> 
                                      <th scope="col">Name</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Brand</th>
                                      <th scope="col">Description</th>
                                        <th scope="col"># in cart</th>
                                    </tr>
                                </thead> 
                                <tbody>
                                {% for item in acc_cart %}

                                <tr>
                                <th scope="row">{{ item.ACC_NAME }}</th>
                                        <td>${{item.PRICE }}</td> 
                                        <td>{{item.BRAND }}</td> 
                                        <td>{{item.ACC_DESC }}</td> 
                                        <td>{{item.NUM_ITEM }}</td>
                                        <form action="/profile" method="post">
                                                <input type ="hidden" name="item_id" value="{{ item.ITEM_ID }}">
                                                <input type ="hidden" name="cust_id" value="{{ item.CUST_ID }}">
                                        <td><button type="submit" class="btn btn-danger">Remove</button></td>
                                        </form>
                                </tr>
                                {% endfor %}
                                </tbody>
                        </div>
                       










<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src ="{{url_for('static',filename='js/bootstrap.js')}}"></script>
        </body>
</html>

